.info-edu {
    display: flex;
}

.img-edu {
    width: 100%;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.container-edu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.card-edu-container {
    margin: 15%;
    margin-top: 5%;
    border: 1px solid rgb(160, 32, 240);
    border-radius: 15px;
    padding: 0;
    box-shadow: -.25px -.25px 0 rgb(160, 32, 240),
        .25px .25px 0 rgb(160, 32, 240),
        0 0 10px rgb(160, 32, 240),
        0 0 20px rgb(160, 32, 240),
        0 0 40px rgb(160, 32, 240);
}

.data-edu {
    flex-direction: column;
}

h1 {
    margin: 10px;
}

@media (max-width: 768px) {
    .card-edu-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-edu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .container-edu {
        width: 80px;
        height: 80px;
    }

    .img-edu{
        width: 100%;
    }

    .dropdown-button {
        margin-top: 15px;
        /* Aumenta el espacio entre los elementos en dispositivos móviles */
    }
}