/* CommentCard.css */

/* Estilos para el contenedor principal */
.CommentCard {
    border: 1px solid rgb(160, 32, 240);
    padding: 10px;
    margin: 10px auto;
    background-color: #f9f9f9;
    width: 90%;
}

/* Estilos para los elementos internos */
.CommentCard div {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

/* Estilos específicos para el nombre */
.CommentCard .name {
    font-weight: bold;
    color: #007bff;
}

/* Estilos específicos para la fecha de creación */
.CommentCard .createdAt {
    color: #888;
}

/* Estilos específicos para el comentario */
.CommentCard .comment {
    margin-top: 10px;
    text-align: left;
}