.progress-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.progress-bar {
  height: 20px;
  /* background: linear-gradient(to right, rgb(38, 13, 51), rgb(160, 32, 240), rgb(6, 2, 8), rgb(160, 32, 240), rgb(6, 2, 8)); */
  border-radius: 9px;
  position: relative;
}

.progress-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mainSkill {
  padding: 4px;
  margin: 40px;
  border: 1px solid rgb(160, 32, 240);
  border-radius: 15px;
  box-shadow: -.25px -.25px 0 rgb(160, 32, 240),
  .25px .25px 0 rgb(160, 32, 240),
  0 0 10px rgb(160, 32, 240),
  0 0 20px rgb(160, 32, 240),
  0 0 40px rgb(160, 32, 240);
}