.mainComment {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.labelComment {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.text {
    font-family: Arial, sans-serif;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btnComment {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.btnComment:hover {
    background-color: #0056b3;
}

.formComment {
    display: flex;
    flex-direction: column;
}

.outer-container {
    text-align: center;
}