html body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif !important; 
}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: -1px; /* Agrega un margen negativo para superponer el borde inferior del tab-content */
}

.tab-list li {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid rgb(160, 32, 240);
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  background-color: #f2f2f2;  
}

.tab-list li.active {
  background-color: #fff;
  border-bottom: none;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 15% 20px 15%;
  border: 1px solid rgb(160, 32, 240);
  border-radius: 10px;
  background-color: #fff;
  margin-top: -1px; 
  box-shadow: -.25px -.25px 0 rgb(160, 32, 240),
  .25px .25px 0 rgb(160, 32, 240),
  0 0 10px rgb(160, 32, 240),
  0 0 20px rgb(160, 32, 240),
  0 0 40px rgb(160, 32, 240);
}

.banner {
  width: 100%;
}

/* CSS */
button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}